@charset "utf-8";
body {
	
	background-color: #23232e83;
	font: 14px normal Arial, Helvetica, sans-serif;
	z-index: -4;

}

/* .container{ */
	/* background-color: white;
	margin-top: 150px; */
/* } */
/*-------------------------
	File manager
-------------------------*/
.container{
    min-height: 90vh;
}
.style{
    background-color: #23232e83;
    border-radius: 3px;
    
}
.return{
    padding: 0!important;
    height: 100vh;
}
.container .row .explorer-font p{
    margin-bottom: 0;
}
.homestyle{
    
  width: 50px;
  height: 50px;
}
.container .style a{
    
    padding: 10px 0;
}
.container .style a:hover{
    background-color: #23232e83;
    transition: 300ms;
    
}

.explorer-font{
    font-size: 2em;
    
}

.data{
    padding: 21px;
    flex-wrap: wrap;

}
ul{
    margin-bottom: 0;
}
li{
	
	border-radius: 3px;
	background-color: #373743;
	width: 300px;
	height: 125px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	
}
li a{
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0.3em;
    color: white;
    text-decoration: none;
}
li a:hover{
    color: white;
    text-decoration: none;
}
/* .header{
	background-image: url(../../medias/home-icon.jpg); */
    
    .wdiff{
        width: 40px;
    }
.folders{
	 
	
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 50px;
	font-size: 15px;
	font-weight: 700;
	color: white;
	line-height: 20px;
	width: 350px;
	/* white-space: nowrap; */
	/* display: block; */
	/* padding-left: 10px;
	padding-top: 15px;
	 */

	overflow: hidden;
	text-overflow: ellipsis;
	background-position:20px;


}
.folders:hover{
    background-color: rgb(109, 111, 116);
    transition: 300ms;
    
    
}
.pad{
    padding: 0.3em;
    height: 100%;
}
.icon.folder {
	display: inline-block;
	margin: 1em;
	background-color: transparent;
	overflow: hidden;
}

.icon.folder:after {
	content: '';
	float: left;
	clear: left;
	
	/* background-color: #a0d4e4; */
	width: 3em;
	height: 2.25em;

	border-radius: 0.1em;
}


.icon.file {
	width: 2.5em;
	height: 3em;
	line-height: 3em;
	text-align: center;
	border-radius: 0.25em;
	color: #FFF;
	display: inline-block;
	margin: 0.9em 1.2em 0.8em 1.3em;
	position: relative;
	overflow: hidden;
	box-shadow: 1.74em -2.1em 0 0 #A4A7AC inset;
}
.icon.file:first-line {
	font-size: 13px;
	font-weight: 700;
}
.icon.file:after {
	content: '';
	position: absolute;
	z-index: -1;
	border-width: 0;
	border-bottom: 2.6em solid #DADDE1;
	border-right: 2.22em solid rgba(0, 0, 0, 0);
	top: -34.5px;
	right: -4px;
}

.imgIcon{
    margin: 0 55px 0 25px;
}


.pad-left{
	padding-left: 80px;

}

body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}